.env
.env.*
server/.env

node_modules/
vendor/


client/.dart_tool/
client/.flutter-plugins
client/.flutter-plugins-dependencies
client/.packages
client/build/
client/.idea/
client/.vscode/
client/ios/Flutter/Flutter.framework
client/ios/Flutter/Flutter.podspec

.cache/

.DS_Store
Thumbs.db

.vscode/
.idea/

server/vendor/
server/node_modules/
server/storage/*.key
server/storage/logs/*
server/storage/framework/cache/*
server/storage/framework/sessions/*
server/storage/framework/views/*
server/bootstrap/cache/*